[submodule "abstracts-embeddings"]
	path = abstracts-embeddings
	url = git@hf.co:datasets/colonelwatch/abstracts-embeddings
[submodule "abstracts-index"]
	path = abstracts-index
	url = git@hf.co:spaces/colonelwatch/abstracts-index
[submodule "abstracts-faiss"]
	path = abstracts-faiss
	url = git@hf.co:datasets/colonelwatch/abstracts-faiss
